fn conf_enable_comments {
    enable_comments=yes
    conf_enable_app bridge
}

fn bridge_init {
    if(! ~ $#enable_comments 0 &&
       {~ $#bridge_users_only 0 || check_user $groups_allowed_replies} &&
       ! ~ '' $"post_arg_comment && ! ~ '' $"post_arg_parent) {
        # make sure the post is <= 140 chars
        if(! ~ `{echo `{echo $post_arg_comment | wc -c} 140 |
                 awk '{print ($1 > $2)}'} 1) {
            if(test -f $sitedir/p/$post_arg_parent^_werc/postnum)
                postn=`{awk 'echo $1++' < $sitedir/p/$post_arg_parent^_werc/postnum}
            if not
                postn=0
            postf=$sitedir/p/$post_arg_parent^_werc/replies/$postn
            if(! test -f $postf)
                save_comment
        }
    }
}

fn save_comment {
    umask 002
    mkdir -p $sitedir/p/$post_arg_parent^_werc/replies
    echo $post_arg_comment | escape_html > $postf

    echo $postn > $sitedir/p/$post_arg_parent^_werc/postnum
    post_redirect $protocol://$SERVER_NAME/p/$post_arg_parent
}
