#main-copy a {
  color: #3f51b5;
}

.pink {
  background-color: #3f51b5 !important;
}
.pink-text {
  color: #3f51b5 !important;
}

select:focus {
  outline: 1px solid #3f51b5;
}
input[type="text"]:focus:not([readonly]), input[type="password"]:focus:not([readonly]), input[type="email"]:focus:not([readonly]), input[type="url"]:focus:not([readonly]), input[type="time"]:focus:not([readonly]), input[type="date"]:focus:not([readonly]), input[type="datetime-local"]:focus:not([readonly]), input[type="tel"]:focus:not([readonly]), input[type="number"]:focus:not([readonly]), input[type="search"]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #3f51b5;
  box-shadow: 0px 1px 0px 0px #3f51b5;
}
input[type="text"]:focus:not([readonly]) + label, input[type="password"]:focus:not([readonly]) + label, input[type="email"]:focus:not([readonly]) + label, input[type="url"]:focus:not([readonly]) + label, input[type="time"]:focus:not([readonly]) + label, input[type="date"]:focus:not([readonly]) + label, input[type="datetime-local"]:focus:not([readonly]) + label, input[type="tel"]:focus:not([readonly]) + label, input[type="number"]:focus:not([readonly]) + label, input[type="search"]:focus:not([readonly]) + label, textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #3f51b5;
}
.dropdown-content li > a, .dropdown-content li > span {
  color: #3f51b5;
}

.fakelink:hover {
  color: #3f51b5;
}

.card .card-action input:hover {
  color: #3f51b5;
}
