    <footer class="page-footer blue-grey darken-1" style="position: absolute; bottom: 0; width: 100%">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">What is this?</h5>
                    <p class="grey-text text-lighten-4">Generic File Host lets you store files up to 2GB forever, for free.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Contact</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="http://kfarwell.org/">kfarwell.org</a></li>
                        <li><a class="grey-text text-lighten-3" href="mailto:kfarwell at member dot fsf dot org">kfarwell at member dot fsf dot org</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>
