fn conf_enable_search {
    conf_enable_app search
}

fn search_init {
    if(~ $req_path /search && ~ $#post_arg_search 1) {
        handler_body_main=(tpl_handler `{get_lib_file search/search.tpl apps/search/search.tpl})

        query=`{echo $post_arg_search | sed 's/[^A-Za-z0-9 ]//g' | tr A-Z a-z}
        extraHeaders='<link rel="alternate" type="application/rss+xml" title="#'$query'" href="/rss/'$query'">'
    }
}
