fn conf_enable_wiki {
    enable_wiki=yes
    wiki_editors_groups=$* 
    conf_enable_app dirdir
}

fn dirdir_init {
    if(! ~ $#enable_wiki 0 && ! ~ '' $"post_arg_comment && ~ '' $"post_arg_parent) {
        postn=`{awk 'echo $1++' < $sitedir/postnum}
        echo $postn > $sitedir/postnum
        postf=$sitedir/p/$postn.txt
        postd=$sitedir/p/$postn^_werc/

        umask 002
        echo $post_arg_comment | escape_html > $postf
        mkdir $postd

        touch $postd/tags
        if(! ~ '' $"post_arg_tags) {
            # echo forces separation of tags by spaces
            # awk strips duplicate tags
            for(i in `{echo $post_arg_tags | tr ' ' $NEW_LINE | awk '!seen[$0]++'}) {
                i=`{echo $i | sed 's/[^A-Za-z0-9]//g' | tr A-Z a-z}
                echo $i >> $postd/tags
                echo $postn >> $sitedir/_werc/tags/$i
            }
        }

        if(! ~ '' $"post_arg_password) {
            salt=`{cat /dev/urandom | tr -dc 'a-zA-Z' | fold -w 64 | head -n 1}
            echo -n $post_arg_password$salt | sha256sum | sed 's/  -$//' > etc/passwords/$postn
            echo $salt > etc/passwords/$postn^_salt
        }

        post_redirect $req_url
    }
}
