@font-face {
  font-family: "DejaVu Sans";
  font-style: normal;
  font-weight: 400;
  src: url(/pub/font/dejavu/DejaVuSans.ttf) format("truetype");
}

@font-face {
  font-family: "DejaVu Sans Extra Light";
  font-style: normal;
  font-weight: 100;
  src: url(/pub/font/dejavu/DejaVuSans-ExtraLight.ttf) format("truetype");
}

html {
  font-family: "DejaVu Sans", sans-serif;
}

nav {
  transition: height .3s;
}

nav ul li {
  text-transform: uppercase;
  list-style-type: none;
}
@media only screen and (max-width : 600px) {
  nav ul li {
    height: 56px;
    padding-top: 13px;
  }
}

.brand-logo img {
  display: inline-block;
  height: 1.5em;
  margin-bottom: -0.4em;
  margin-right: 0.6em;
}

.brand-logo {
  font-family: "DejaVu Sans Extra Light", sans-serif;
}

@media screen and (max-width: 600px) {
  .brand-logo span {
    display: none;
  }
}

#search-bar {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity .3s;
}

#search {
  margin: 0;
  border: 0;
}

@media only screen and (max-width : 600px) {
  #search {
    height: 3.75em;
  }
  #search-form .mdi {
    margin-top: 0.75em;
  }
  #search-tags {
    margin-top: 0.5em;
  }
}

#main-copy {
  margin: 0 auto;
  border-left: none;
}

#main-copy h1, #main-copy h2, #main-copy h3, #main-copy h4, #main-copy h5, #main-copy h6 {
  font-family: "DejaVu Sans Extra Light", sans-serif;
}

#main-copy a {
  color: #e91e63;
}
#main-copy a:hover {
  text-decoration: underline;
}

#main-copy a i, #main-copy span a {
  color: #000;
}
#main-copy a i:hover, #main-copy span a:hover, .btn-large:hover, .btn:hover {
  text-decoration: none !important;
}

footer a:hover {
  text-decoration: underline;
}

.btn-flat {
  color: #000 !important;
}
.btn-flat:hover {
  text-decoration: none !important;
}

.btn-large {
  margin-bottom: 0.5em;
  margin-right: 0.25em;
}

button.waves-effect {
  background-color: initial;
}

#btn-ppp {
  position: absolute;
  margin-top: 0.75em;
  margin-left: 0.5em;
}
#btn-ppp:hover {
  color: initial;
}

input.select-dropdown {
  margin-bottom: 2em !important;
}

.dropdown-content {
  min-width: 11em;
}

select:focus {
  outline: 1px solid #e91e63;
}
input[type="text"]:focus:not([readonly]), input[type="password"]:focus:not([readonly]), input[type="email"]:focus:not([readonly]), input[type="url"]:focus:not([readonly]), input[type="time"]:focus:not([readonly]), input[type="date"]:focus:not([readonly]), input[type="datetime-local"]:focus:not([readonly]), input[type="tel"]:focus:not([readonly]), input[type="number"]:focus:not([readonly]), input[type="search"]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #e91e63;
  box-shadow: 0px 1px 0px 0px #e91e63;
}
input[type="text"]:focus:not([readonly]) + label, input[type="password"]:focus:not([readonly]) + label, input[type="email"]:focus:not([readonly]) + label, input[type="url"]:focus:not([readonly]) + label, input[type="time"]:focus:not([readonly]) + label, input[type="date"]:focus:not([readonly]) + label, input[type="datetime-local"]:focus:not([readonly]) + label, input[type="tel"]:focus:not([readonly]) + label, input[type="number"]:focus:not([readonly]) + label, input[type="search"]:focus:not([readonly]) + label, textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #e91e63;
}
.dropdown-content li > a, .dropdown-content li > span {
  color: #e91e63;
}

.btnLink {
  background: none !important;
  border: none;
  padding: 0 !important;
  font: inherit;
  cursor: pointer;
}

.fakelink {
  background-color: transparent !important;
  border: none;
  padding: 0;
  cursor: pointer;
}
.fakelink:hover {
  color: #e91e63;
}

.fakelinknav {
  background-color: transparent;
  border: none;
  padding: 1rem 1rem;
  width: 100%;
  cursor: pointer;
}
.fakelinknav:hover {
  color: inherit;
}

.fakelinkcollection {
  width: 100%;
  text-align: left;
  border: medium none;
  border-bottom: 1px solid #E0E0E0 !important;
  background: #FFF none repeat scroll 0% 0%;
}
.fakelinkcollection:hover:not(.active) {
  background-color: #DDD;
}

.pagination .fakelink:hover {
  color: inherit;
}

.chip {
  margin-bottom: 0.5em;
}
.chip .fakelink:hover {
  color: initial !important;
}

nav .chip {
  background-color: #FFF;
}

#tag-preview .chip {
  margin-right: 3px;
}

#advanced {
  display: none;
}

#postprog {
  display: none;
}

.card {
  overflow: initial;
}

.card-action {
  overflow-x: hidden;
}

.card .card-action form {
  display: inline;
}

.card .card-action input {
  margin-right: 20px;
  -webkit-transition: color .3s ease;
  -moz-transition: color .3s ease;
  -o-transition: color .3s ease;
  -ms-transition: color .3s ease;
  transition: color .3s ease;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  display: inline;
}
.card .card-action input:hover {
  color: #e91e63;
}

.card .card-action a {
  text-transform: none;
}

.reply-button {
  margin-right: 30px !important;
}

.menu-button {
  margin-right: 44px !important;
}

.icon-button i {
  position: absolute;
  margin-top: 3px;
}

.numreplies {
  margin-left: 26px;
}

.date {
  margin-right: 20px;
  text-transform: uppercase;
}

.post-tags {
  line-height: 225%;
}

.card-panel {
  margin-left: 4em;
}

.card, .card-panel {
  word-wrap: break-word;
}

.card > a:hover {
  color: initial !important;
}
.card-content.clicky {
  cursor: pointer;
}
.card-content.clicky:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

#reply-form-disabled {
  display: none;
}

.staggered li {
  opacity: 0;
  display: none;
}

.modal-content .collection-item i {
  margin-left: -0.25em;
}

.collection-item span {
  position: absolute;
  margin-top: 0.15em;
  margin-left: 1em;
  color: #000;
}

.attachment {
  max-width: 100%;
  max-height: 80vh;
  vertical-align: top;
  margin-top: 1em;
}

.parallax-container {
  height: 250px;
  color: #FFF;
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
}

#index-banner {
  background-image: url('/img/background0.jpg');
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}
#bg1 {
  background-image: url('/img/background1.jpg');
}
#bg2 {
  background-image: url('/img/background2.jpg');
}

.icon-block {
  padding: 0 15px;
}
.icon-block .mdi {
  font-size: inherit;
}

.mdi {
  font-size: 24px;
}

.slider, .slides {
  background-color: initial !important;
}

.slider .slides li img {
  background-size: contain;
  background-repeat: no-repeat;
}

.sitemap-list {
  padding-left: 2em;
}
